@page "/ConsultaClientes"
@rendermode InteractiveServer

<h3><b>Consulta Clientes</b></h3>

@inject ClientesBLL clientesBll

<PageTitle>Consulta Clientes</PageTitle>
<h2><b>Lista de Clientes</b></h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>RNC</th>
                <th>Teléfono</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ListaClientes) {
                <tr>
                    <td>@item.ClienteId</td>
                    <td>@item.Nombre</td>
                    <td>@item.RNC</td>
                    <td>@item.Teléfono</td>
                    <td>@item.Celular</td>
                    <td>@item.Email</td>
                    <td>@item.Dirección</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public Cliente clientes { get; set; } = new Cliente();
    public List<Cliente> ListaClientes { get; set; } = new List<Cliente>();

    protected override void OnInitialized() {
        ListaClientes = clientesBll.ObtenerLista(l => true);
    }
}
